<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfjybj.ftdp.provider.dao.TemplateContentDao">

    <!--    添加模板内容  -->
    <insert id="addTemplateContent" >
      INSERT INTO tin_templatecontent(id,
                                      templateId,
                                      componentId,
                                      title,
                                      promptField,
                                      fieldSequence,
                                      groupSequence
                                     )
      VALUES (#{id},#{templateId},#{componentId},#{title},#{promptField},#{fieldSequence},#{groupSequence})
    </insert>

    <!-- 更新模板内容-->
    <update id="updateTemplateContent">
     UPDATE
        tin_templatecontent
     SET
       tin_templatecontent.templateId=#{templateId},
       tin_templatecontent.componentId=#{componentId},
       tin_templatecontent.title=#{title},
       tin_templatecontent.promptField=#{promptField},
       tin_templatecontent.fieldSequence=#{fieldSequence},
       tin_templatecontent.groupSequence=#{groupSequence}
     WHERE id = #{id}
    </update>

    <!--    添加模板-->
    <insert id="templateInsert">
        INSERT INTO tin_template (id,
                                  templateName,
                                  templateGroupId,
                                  staffID,
                                  postscript,
                                  isUsable,
                                  groupSequence,
                                  isFinish)
        VALUES (#{id},#{templateName},#{templateGroupId},#{staffID},#{postscript},#{isUsable},#{groupSequence},#{isFinish})
    </insert>

    <!--更新模板-->
    <update id="updateTemplate">
     UPDATE
        tin_template
     SET
       tin_template.templateGroupId=#{templateGroupId},
       tin_template.templateName=#{templateName},
       tin_template.groupSequence=#{groupSequence},
       tin_template.isFinish=#{isFinish},
       tin_template.postscript=#{postscript},
       tin_template.isUsable=#{isUsable},
       tin_template.staffID=#{staffID}
     WHERE tin_template.id = #{id}
    </update>

    <!--    修改tin_template表isUsable字段完成删除-->
    <update id="templateDelete">
        UPDATE tin_template
        SET  isUsable = "1"
        WHERE id= #{id}
    </update>

    <!--   根据isUsable字段查询tin_templateGroup表可用的模板-->
    <select id="queryTempByIsUsable" resultMap="TempByIsUsableModel" >
        select tin_templategroup.id AS templateGroupId,
               tin_templategroup.templateGroupName AS templateGroupName,
               tin_template.id AS templateId,
               tin_template.templateName AS templateName,
               tin_template.postscript AS postscript
        from tin_templategroup,
             tin_template
        where tin_template.isUsable = 0
        and   tin_templategroup.isUsable = 0
        and   tin_template.templategroupID = tin_templategroup.id
        order by tin_templategroup.groupSequence
    </select>
    <resultMap type="com.tfjybj.ftdp.model.TempByIsUsableModel" id="TempByIsUsableModel" autoMapping="true">
        <id property="templateGroupId" column="templateGroupId" />
        <result property="templateGroupName" column="templateGroupName"/>
        <collection property="tempByIsUsableData" ofType="com.tfjybj.ftdp.model.TempByIsUsableData">
            <result property="templateId" column="templateId"/>
            <result property="postscript" column="postscript"/>
            <result property="templateName" column="templateName"/>
        </collection>
    </resultMap>

    <!--初始化查询模板内容-->
    <select id="queryTemplateContent" resultMap="TemplateContent">
        select  id,
                templateId,
                componentId,
                title,
                fieldSequence,
                isUsable,
                groupSequence
        from tin_templatecontent
        where templateId= #{templateId}
        order by
        groupSequence ,fieldSequence asc
    </select>

    <resultMap type="com.tfjybj.ftdp.model.TemplateContentModel" id="TemplateContent" autoMapping="true">
        <id property="templateId" column="templateId" />
        <id property="componentId" column="componentId"/>
        <result property="groupSequence" column="groupSequence"/>
            <collection property="templateContentData" ofType="com.tfjybj.ftdp.model.TemplateContentModel2">
                <result property="id" column="id"/>
                <result property="title" column="title"/>
                <result property="fieldSequence" column="fieldSequence"/>
                <result property="isUsable" column="isUsable"/>
                <result property="promptField" column="promptField"/>
                <result property="isUsable" column="isUsable"/>
            </collection>
    </resultMap>

    <!--    查询tin_componentlibrary表-->
    <select id="queryComponentlibrary" resultType="com.tfjybj.ftdp.model.ComponentlibraryModel">
        select
               groupId,
               groupSequence
        from tin_componentlibrary
        WHERE isUsable = 0
        order by
            groupSequence
    </select>
</mapper>
