<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfjybj.ftdp.provider.dao.TemplateRuleRecordDao">

<!--	添加模板规则-在tin_templaterulerecord表插入-->
    <insert id="addTemplateRuleRecord" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO tin_templaterulerecord (tin_templaterulerecord.id,
    tin_templaterulerecord.templateId,
	tin_templaterulerecord.templateContentId,
	tin_templaterulerecord.grade,
	tin_templaterulerecord.sex,
	tin_templaterulerecord.startRange,
	tin_templaterulerecord.endRange,
	tin_templaterulerecord.originalScore,
	tin_templaterulerecord.weight,
	tin_templaterulerecord.level,
	tin_templaterulerecord.operator,
	tin_templaterulerecord.is_delete)
	 VALUES(#{templateRuleRecordModel.id},
	 #{templateRuleRecordModel.templateId},
	 #{templateRuleRecordModel.templateContentId},
	 #{templateRuleRecordModel.grade},
	 #{templateRuleRecordModel.sex},
	 #{templateRuleRecordModel.startRange},
	 #{templateRuleRecordModel.endRange},
	 #{templateRuleRecordModel.originalScore},
	 #{templateRuleRecordModel.weight},
	 #{templateRuleRecordModel.level},
	 #{templateRuleRecordModel.operator},
	 #{templateRuleRecordModel.isDelete})
	 ON DUPLICATE KEY UPDATE tin_templaterulerecord.id=#{templateRuleRecordModel.id},
	  tin_templaterulerecord.templateId=#{templateRuleRecordModel.templateId},
	  tin_templaterulerecord.templateContentId=#{templateRuleRecordModel.templateContentId},
	  tin_templaterulerecord.grade=#{templateRuleRecordModel.grade},
	  tin_templaterulerecord.sex=#{templateRuleRecordModel.sex},
	  tin_templaterulerecord.startRange=#{templateRuleRecordModel.startRange},
	  tin_templaterulerecord.endRange=#{templateRuleRecordModel.endRange},
	  tin_templaterulerecord.originalScore=#{templateRuleRecordModel.originalScore},
	  tin_templaterulerecord.weight=#{templateRuleRecordModel.weight},
	  tin_templaterulerecord.level=#{templateRuleRecordModel.level},
	  tin_templaterulerecord.operator=#{templateRuleRecordModel.operator},
	  tin_templaterulerecord.is_delete=#{templateRuleRecordModel.isDelete}
    </insert>

<!--	根据templateId查规则页面的组件名称-->
    <select id="queryTemplateComponentNameRuleRecord" resultType="com.tfjybj.ftdp.model.TemplateRuleAndConponentNameModel">
    select con.id, con.templateId, con.title,con.componentId
    from tin_templatecontent con
    WHERE con.templateId=#{TemplateRuleAndConponentNameModel.templateId}and componentId="4833953"
	</select>


<!--	根据templateId从tin_templateRuleRecord查模板规则页面的可用规则-->
    <select id="queryTemplateRuleRecord" resultType="com.tfjybj.ftdp.entity.TemplaterulerecordEntity">
     SELECT * FROM tin_templateRuleRecord WHERE templateId=#{templateId} and tin_templateRuleRecord.is_delete=0
    </select>

<!--	根据id从tin_templaterulerecord表和tin_templatecontent表查一条规则的具体内容-->
    <select id="queryTemplateRuleRecordId" resultType="com.tfjybj.ftdp.model.TemplateRuleRecordIdModel">
     SELECT
	te.id,
	te.templateId,
	te.templateContentId,
	con.title,
	te.grade,
	te.sex,
	te.startRange,
	te.endRange,
	te.originalScore,
	te.weight,
	te.level,
	te.operator
	FROM
	tin_templaterulerecord te
    LEFT JOIN tin_templatecontent con ON con.id=te.templateContentId
    WHERE
	te.id = #{Id}
    </select>
</mapper>